{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Charts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/chartist/css/chartist-custom.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
</head>
<style>
    html, body, #main {
        width: 100%;
        height: 100%;
        margin: 0;
    }
</style>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="Klorofil Logo"
                                      class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" value="" class="form-control" placeholder="输入你想搜索的内容...">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                </div>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">3</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>系统空间剩余不足</a>
                            </li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>9 条投诉未处理</a>
                            </li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>本月运营报告已生成</a>
                            </li>
                            <li><a href="#" class="more">查看所有提醒</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="lnr lnr-question-circle"></i> <span>帮助</span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">基础教程</a></li>
                            <li><a href="#">数据处理</a></li>
                            <li><a href="#">安全</a></li>
                            <li><a href="#">故障排除</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="{% static 'assets/img/user.png' %}" class="img-circle" alt="Avatar">
                            <span>管理员</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>我的账号</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>消息</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>设置</span></a></li>
                            <li><a href="login.html"><i class="lnr lnr-exit"></i> <span>登出</span></a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="index.html" class=" "><i class="lnr lnr-home"></i> <span>总览</span></a></li>
                    <li><a href="charts.html" class="active"><i class="lnr lnr-chart-bars"></i> <span>统计报表</span></a>
                    </li>
                    <li><a href="notifications.html" class=""><i class="	fa fa-users"></i> <span>人员管理</span></a></li>
                    <li><a href="tables.html" class=""><i class="	fa fa-warning"></i> <span>投诉处理</span></a></li>
                    <li><a href="typography.html" class=""><i class="fa fa-map-marker	"></i> <span>实时运营地图</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title">统计报表</h3>
                <div style="z-index:5">
                    <a href="charts.html">
                        <button type="button" class="buttonstyle btn btn-primary">统计图</button>
                    </a>
                    <a href="charts2.html">
                        <button type="button" class="buttonstyle btn btn-primary">关系对比图</button>
                    </a>
                    <a href="#">
                        <button type="button" class="buttonstyle btn btn-primary">关键词云图</button>
                    </a>
                </div>
                <i style="color:#83c6ea" class="buttonstyle fa fa-circle "></i>字体大小等价权重
            </div>

        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2019.HOKA All rights reserved.</p>
        </div>
    </footer>
</div>
<div id='main' style="height:400px; position:absolute;left:100px;top:210px; z-index: 0">1111</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'assets/scripts/klorofil-common.js' %}"></script>
<script src="{% static 'assets/scripts/echarts.simple.js' %}"></script>
<script src="{% static 'assets/scripts/echarts-wordcloud.js' %}"></script>
<script type="text/javascript">
    var chart = echarts.init(document.getElementById('main'));

    var option = {
        tooltip: {},
        series: [{
            type: 'wordCloud',
            gridSize: 2,
            sizeRange: [12, 50],
            rotationRange: [-90, 90],
            shape: 'pentagon',
            width: 600,
            height: 400,
            drawOutOfBound: true,
            textStyle: {
                normal: {
                    color: function () {
                        return 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: [
                {
                    name: '驾驶途中打电话',
                    value: 10000,
                    textStyle: {
                        normal: {
                            color: 'black'
                        },
                        emphasis: {
                            color: 'red'
                        }
                    }
                },
                {
                    name: '疲劳驾驶',
                    value: 6181
                },
                {
                    name: '吃东西',
                    value: 4386
                },
                {
                    name: '单手握方向盘',
                    value: 4055
                },
                {
                    name: '摆龙门阵',
                    value: 2467
                },
                {
                    name: '摇头晃脑',
                    value: 2244
                },
                {
                    name: '喝酒',
                    value: 1898
                },
                {
                    name: '狂按喇叭',
                    value: 1484
                },
                {
                    name: '超速',
                    value: 1112
                },
                {
                    name: '逆向行驶',
                    value: 3965
                },
                {
                    name: '闯红灯',
                    value: 6847
                },
                {
                    name: '乱扔垃圾',
                    value: 1582
                },
                {
                    name: '别车',
                    value: 555
                },
                {
                    name: '急刹车',
                    value: 550
                },
                {
                    name: '穿拖鞋',
                    value: 1462
                },
                {
                    name: '喝酒',
                    value: 366
                },
                {
                    name: '漂移',
                    value: 2360
                },
                {
                    name: '不系安全带',
                    value: 5282
                },
                {
                    name: '超载',
                    value: 1273
                },
                {
                    name: '不穿衣服',
                    value: 265
                },
                {
                    name: '脸色难看',
                    value: 565
                },
                {
                    name: '衣服难看',
                    value: 965
                },
                {
                    name: '放屁',
                    value: 665
                },
                {
                    name: '口臭',
                    value: 1315
                },
            ]
        }]
    };

    chart.setOption(option);

    window.onresize = chart.resize;
</script>
</body>

</html>
