{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/chartist/css/chartist-custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/s.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="Klorofil Logo"
                                      class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" value="" class="form-control" placeholder="输入你想搜索的内容...">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary" id="btn" onclick="aa()">Go</button></span>
                </div>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <span class="badge bg-danger">3</span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>系统空间剩余不足</a>
                            </li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>9 条投诉未处理</a>
                            </li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>本月运营报告已生成</a>
                            </li>
                            <li><a href="#" class="more">查看所有提醒</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="lnr lnr-question-circle"></i> <span>帮助</span> <i
                                class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">基础教程</a></li>
                            <li><a href="#">数据处理</a></li>
                            <li><a href="#">安全</a></li>
                            <li><a href="#">故障排除</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="{% static 'assets/img/user.png' %}" class="img-circle" alt="Avatar">
                            <span>管理员</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>我的账号</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>消息</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>设置</span></a></li>
                            <li><a href="login.html"><i class="lnr lnr-exit"></i> <span>登出</span></a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>总览</span></a></li>
                    <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>统计报表</span></a></li>
                    <li><a href="notifications.html" class=""><i class="	fa fa-users"></i> <span>人员管理</span></a></li>
                    <li><a href="tables.html" class=""><i class="	fa fa-warning"></i> <span>投诉处理</span></a></li>
                    <li><a href="typography.html" class=""><i class="fa fa-map-marker	"></i> <span>实时运营地图</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">一周运行数据</h3>
                        <p class="panel-subtitle">日期: 2019 5月17日 - 2019 5月24日</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-automobile"></i></span>
                                    <p>
                                        <span class="number">255</span>
                                        <span class="title">运营车辆</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
                                    <p>
                                        <span class="number">203</span>
                                        <span class="title">违规记录</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-volume-control-phone"></i></span>
                                    <p>
                                        <span class="number">18</span>
                                        <span class="title">投诉量</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                    <p>
                                        <span class="number">-15%</span>
                                        <span class="title">违规增长比例</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div id="headline-chart" class="ct-chart"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="weekly-summary text-right">
                                    <span class="number">18</span> <span class="percentage"><i
                                        class="fa fa-caret-up text-danger"></i> 13%</span>
                                    <span class="info-label">周投诉量</span>
                                </div>
                                <div class="weekly-summary text-right">
                                    <span class="number">203</span> <span class="percentage"><i
                                        class="fa fa-caret-down text-success"></i> 15%</span>
                                    <span class="info-label">周违规数量</span>
                                </div>
                            </div>
                        </div>
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<i class="fa fa-circle text-primary buttonstyle"></i>
                        <p class="buttonstyle">违规量</p> <i style="color:#83c6ea" class="buttonstyle fa fa-circle "></i>投诉量
                    </div>
                </div>
                <!-- END OVERVIEW -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- RECENT PURCHASES -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">人员管理</h3>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>车牌号</th>
                                        <th>当前状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="#">763648</a></td>
                                        <td>张杰</td>
                                        <td>男</td>
                                        <td>川A 237888</td>
                                        <td><span class="label label-success">在线</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763649</a></td>
                                        <td>谢娜</td>
                                        <td>女</td>
                                        <td>川A 568993</td>
                                        <td><span class="label label-warning">休息</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763650</a></td>
                                        <td>李俊杰</td>
                                        <td>男</td>
                                        <td>川B A76621</td>
                                        <td><span class="label label-danger">离线</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763651</a></td>
                                        <td>罗杰</td>
                                        <td>男</td>
                                        <td>川A GB3442</td>
                                        <td><span class="label label-success">在线</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">763652</a></td>
                                        <td>史密斯</td>
                                        <td>男</td>
                                        <td>川A 108892</td>
                                        <td><span class="label label-success">在线</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i>5分钟刷新一次</span>
                                    </div>
                                    <div class="col-md-6 text-right"><a href="notifications.html"
                                                                        class="btn btn-primary">查看所有人员信息</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- END RECENT PURCHASES -->
                    </div>
                    <div class="col-md-6">
                        <!-- MULTI CHARTS -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">本年度数据概况</h3>
                            </div>
                            <div class="panel-body">
                                <div id="visits-trends-chart" class="ct-chart"></div>
                            </div>
                        </div>
                        <!-- END MULTI CHARTS -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <!-- TODO LIST -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">动态</h3>
                            </div>
                            <div class="panel-body">

                                <ul class="list-unstyled todo-list">
                                    <li>
                                        <p>
                                            <span class="title">处罚决定</span>
                                            <span class="short-description">我公司客服部在一周内收到了三次对本公司驾驶员员工 刘强北 的投诉，根据相应规定，公司决定对 刘强北 处以警告...</span>
                                            <span class="date">2019年3月15日</span>
                                        </p>
                                        <div class="controls">
                                            <a href="#">浏览<i class="icon-software icon-software-pencil"></i></a> <a
                                                href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            <span class="title">奖励决定</span>
                                            <span class="short-description">我公司驾驶员员工 陈晓芳 在本周的驾驶工作期间保持了0违规，0投诉的记录，公司决定对 陈晓芳 同志...</span>
                                            <span class="date">2019年3月11日</span>
                                        </p>
                                        <div class="controls">
                                            <a href="#">浏览<i class="icon-software icon-software-pencil"></i></a> <a
                                                href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <p>
                                            <strong>处罚决定</strong>
                                            <span class="short-description">我公司驾驶员员工 黄宏 在上班行驶期间，多次无故拨打私人电话，违反了公司的员工条例，在公司内部造...</span>
                                            <span class="date">2019年2月22日</span>
                                        </p>
                                        <div class="controls">
                                            <a href="#">浏览<i class="icon-software icon-software-pencil"></i></a> <a
                                                href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END TODO LIST -->
                    </div>
                    <div class="col-md-5">
                        <!-- TIMELINE -->
                        <div class="panel panel-scrolling">
                            <div class="panel-heading">
                                <h3 class="panel-title">本周模范驾驶员</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled activity-list">
                                    <li>
                                        <img src="{% static 'assets/img/user1.jpg' %}" alt="Avatar"
                                             class="img-circle pull-left avatar">
                                        <p><a href="page_profile.html">张三</a> 0 投诉 2 次违规 <span
                                                class="timestamp">2小时前</span></p>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/user2.jpg' %}" alt="Avatar"
                                             class="img-circle pull-left avatar">
                                        <p><a href="page_profile.html">陈晓芳</a> 0 投诉 0 次违规 <span
                                                class="timestamp">1天前</span></p>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/user3.jpg' %}" alt="Avatar"
                                             class="img-circle pull-left avatar">
                                        <p><a href="page_profile.html">王五</a> 0 投诉 1 次违规 <span
                                                class="timestamp">2天前</span></p>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/user4.jpg' %}" alt="Avatar"
                                             class="img-circle pull-left avatar">
                                        <p><a href="page_profile.html">赵明</a> 0 投诉 1 次违规 <span
                                                class="timestamp">3天前</span></p>
                                    </li>
                                </ul>
                                <div class="text-center"><a href="tables.html" class="btn btn-primary">加载更多</a></div>
                            </div>
                        </div>
                        <input id="Button1" type="button" class="btn " value="联系客服" onclick="ShowDiv('MyDiv','fade')"/>
                        <!--弹出层时背景层DIV-->
                        <div id="fade" class="black_overlay">
                        </div>
                        <div id="MyDiv" class="white_content">
                            <div style="text-align: right; cursor: default; height: 40px;">
                                <span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">关闭</span>
                            </div>
                            <button type="button" id="connect_websocket">开始呼叫</button>
                            <br>
                            <button type="button" id="close_websocket">停止呼叫</button>
                            <br><br>
                            <input type="text" id="message" value="客服你好！!">
                            <button type="button" id="send_message">发送</button>

                            <h4>正在与客服 小美 交谈</h4>
                            <div id="messagecontainer">
                            </div>
                        </div>
                        <!-- END TIMELINE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>

    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2019.HOKA All rights reserved.</p>
        </div>
        <br>
    </footer>
</div>


<!-- END WRAPPER -->
<!-- Javascript -->
<script src="{% static 'assets/scripts/style.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'assets/scripts/klorofil-common.js' %}"></script>
<script>
    $(function () {
        var data, options;

        // headline charts
        data = {
            labels: ['周一', '二', '三', '四', '五', '六', '七'],
            series: [
                [11, 29, 24, 20, 25, 24, 34],
                [2, 6, 1, 3, 5, 8, 9],
            ]
        };

        options = {
            height: 300,
            showArea: true,
            showLine: true,
            showPoint: true,
            fullWidth: true,
            axisX: {
                showGrid: false
            },
            lineSmooth: false,
        };

        new Chartist.Line('#headline-chart', data, options);


        // visits trend charts
        data = {
            labels: ['1月', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            series: [{
                name: 'series-real',
                data: [317, 380, 359, 322, 410, 456, 370, 410, 355, 320, 350, 400],
            }, {
                name: 'series-projection',
                data: [40, 50, 60, 80, 50, 50, 60, 53, 55, 60, 70, 40],
            }]
        };

        options = {
            fullWidth: true,
            lineSmooth: false,
            height: "270px",
            low: 0,
            high: 'auto',
            series: {
                'series-projection': {
                    showArea: false,
                    showPoint: true,
                    showLine: true
                },
            },
            axisX: {
                showGrid: false,

            },
            axisY: {
                showGrid: false,
                onlyInteger: true,
                offset: 0,
            },
            chartPadding: {
                left: 20,
                right: 20
            }
        };

        new Chartist.Line('#visits-trends-chart', data, options);


        // visits chart
        data = {
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            series: [
                [6384, 6342, 5437, 2764, 3958, 5068, 7654]
            ]
        };

        options = {
            height: 300,
            axisX: {
                showGrid: false
            },
        };

        new Chartist.Bar('#visits-chart', data, options);


        // real-time pie chart
        var sysLoad = $('#system-load').easyPieChart({
            size: 130,
            barColor: function (percent) {
                return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
            },
            trackColor: 'rgba(245, 245, 245, 0.8)',
            scaleColor: false,
            lineWidth: 5,
            lineCap: "square",
            animate: 800
        });

        var updateInterval = 3000; // in milliseconds

        setInterval(function () {
            var randomVal;
            randomVal = getRandomInt(0, 100);

            sysLoad.data('easyPieChart').update(randomVal);
            sysLoad.find('.percent').text(randomVal);
        }, updateInterval);

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

    });

    function aa() {
        pop({
            width: 500,//提示窗口的宽度
            height: 200,//提示窗口的高度
            title: '提示!',//提示窗口的标题
            content: '这个功能还没实现！'//提示窗口的内容

        });
    }

    function ShowDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'block';
        document.getElementById(bg_div).style.display = 'block';
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
        // bgdiv.style.height = $(document).height();
        $("#" + bg_div).height($(document).height());
    }

    //关闭弹出层
    function CloseDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'none';
        document.getElementById(bg_div).style.display = 'none';
    }

    $(function () {
        $('#connect_websocket').click(function () {
            if (window.s) {
                window.s.close()
            }
            /*创建socket连接*/
            var socket = new WebSocket("ws://" + window.location.host + "/index.html");
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印出服务端返回过来的数据
                $('#messagecontainer').prepend('<p style="color: red;">' + '亲，你好，请+微信1314520与我交流' + '</p>');
                $('#messagecontainer').prepend('<p style="color: blue;">' + e.data + '</p>');
            };
            // Call onopen directly if socket is already open
            if (socket.readyState === WebSocket.OPEN) socket.onopen();
            window.s = socket;
        });
        $('#send_message').click(function () {
            //如果未连接到websocket
            if (!window.s) {
                alert("websocket未连接.");
            } else {
                window.s.send($('#message').val());//通过websocket发送数据
            }
        });
        $('#close_websocket').click(function () {
            if (window.s) {
                window.s.close();//关闭websocket
                console.log('websocket已关闭');
            }
        });

    });
</script>
</body>

</html>
